@import 'header.css';
@import 'table.css';
@import 'elements.css';
@import 'form.css';
@import 'other.css';

body {
    background: hsl(200, 100%, 88%);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
}

.flash {
    padding: 0.3em;
    margin: 0.8em;
    border-radius: 0 2.6em 2.6em 0;
    font-size: 1.2em;
}

.flash-success {
    background: hsl(120, 100%, 65%);
}

.flash-error {
    background: hsl(0, 100%, 65%);
}

.wide {
    padding: 0 0.27em;
}

.a {
    cursor: pointer;
}