@import 'header.css';
@import 'table.css';
@import 'elements.css';
@import 'form.css';
@import 'modal.css';
@import 'other.css';

body {
    background: hsl(200, 100%, 88%);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
}

main {
    padding: 0 5em;
}

.flash {
    padding: 0.3em 1em;
    margin: 0.8em;
    border-radius: 2.6em 2.6em;
    font-size: 1.2em;
}

.flash-success {
    background: hsl(120, 100%, 65%);
}

.flash-error {
    background: hsl(0, 100%, 65%);
}

.danger {
    color: rgb(148, 3, 3);
}

.extra {
    color: rgb(110, 110, 110);
}

.center {
    text-align: center;
}

.modal-link {
    font-size: 0.8rem;
}

.wide {
    padding: 0 0.27em;
}

.a {
    cursor: pointer;
}