table {
    border-collapse: collapse;
}

td, th {
    border: 0.1em solid black;
    padding: 0.2em 0.5em;
    height: 2rem;
}

.id-col {
    text-align: right;
    color: rgb(110, 110, 110);
}

thead tr {
    background: hsl(208, 90%, 75%);
}

tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}
