{% extends 'base.html.twig' %}

{% block title %}Správa skupin místností{% endblock %}

{% block content %}
    <h1>Správa skupin místností</h1>

    <table>
        <thead>
        <tr>
            <th>Skupina</th>
            <th>Nadřazená skupina</th>
        </tr>
        </thead>
        {% for group in groups
            | sort((a, b) => a.name <=> b.name)
            | sort((a, b) => (a.parent ? 1 : 0) <=> (b.parent ? 1 : 0)) %} <!-- groups without parent come first-->
            <tr>
                <td>
                    <a href="{{ path('app_group', {'id': group.id }) }}">{{ group.name }}</a>
                </td>
                <td>
                    {% if group.parent %}
                        <a href="{{ path('app_group', {'id': group.parent.id}) }}">{{ group.parent.name }}</a>
                    {% else %}
                        ---
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
