{% extends 'base.html.twig' %}

{% block title %}Žádosti ke schválení{% endblock %}

{% block page %}managed-reservations{% endblock %}

{% block content %}
    <h1>Žádosti ke schválení</h1>
{% endblock %}
