{% extends 'base.html.twig' %}

{% block title %}Managed reservations{% endblock %}

{% block page %}managed-reservations{% endblock %} <!-- TODO: fix wrong CSS import - due to multiple URL nesting -->

{% block content %}
<h3>Hello, managed reservations!</h3>
{% endblock %}
