{% extends 'base.html.twig' %}

{% block title %}Rezervace učebny{% endblock %}

{% block page %}reservation{% endblock %}

{% block content %}
    <h1>Rezervace učebny {{ room.getFullName() }}</h1>

    {{ form(form) }}
{% endblock %}
