{% extends 'base.html.twig' %}

{% block title %}Učebny{% endblock %}

{% block page %}rooms{% endblock %}

{% block content %}
    <h1>Učebny</h1>

    {% if rooms is empty %}

        <p>Nebyly nalezeny žádné učebny. Pro zobrazení neveřejných učeben je potřeba být přihlášen správným účtem.</p>

    {% else %}

        <table>
            <thead>
            <tr>
                <th>Učebna</th>
                <th>Budova</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.getFullName() }}</td>
                    <td>{{ room.getBuilding() }}</td>
                    <td>
                        {% if currentAvailabilityMap[room.getId()] %}
                            Volná
                        {% else %}
                            Obsazená
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_book', {'room': room.getId()}) }}">
                            Rezervovat
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_create_room') }}" method="post">
            <label for="room_name">Nazev mistnosti:</label>
            <input type="text" id="room_name" name="_room_name">

            <label for="building_name">Nazev budovy:</label>
            <input type="text" id="building_name" name="_building_name">

            <label for="is_public">Verejna?</label>
            <input type="checkbox" id="is_public" value="0">

            <button type="submit">Vytvorit mistnost</button>
        </form>
    {% endif %}

{% endblock %}
