{% extends 'base.html.twig' %}

{% block title %}Učebny{% endblock %}

{% block page %}rooms{% endblock %}

{% block content %}
    <h1>Učebny</h1>

    {% if rooms is empty %}

        <p>Nebyly nalezeny žádné učebny. Pro zobrazení neveřejných učeben je potřeba být přihlášen správným účtem.</p>

    {% else %}

        <table>
            <thead>
                <tr>
                    <th>Učebna</th>
                    <th>Budova</th>
                    <th>Typ</th>
                    <th>Aktuální obsazenost</th>
                    <th>Mám přístup</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.getFullName() }}</td>
                    <td>{{ room.getBuilding() }}</td>
                    <td>
                        {% if room.isPublic() %}
                            Veřejná
                        {% else %}
                            Soukromá
                        {% endif %}
                    </td>
                    <td>
                        {% if currentAvailabilityMap[room.getId()] %}
                            Volná
                        {% else %}
                            Obsazená
                        {% endif %}
                    </td>
                    <td>
                        {% if room.isPublic() or app.user in room.getMembers() %}
                            &#10003;
                        {% else %}
                            &#10007;
                        {% endif %}
                    </td>
                    <td>
                        {% if room.isPublic() or app.user in room.getMembers() %}
                            <a href="{{ path('app_book', {'room': room.getId()}) }}">
                                Rezervovat
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}


{% endblock %}
