{% extends 'base.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block page %}users{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>

    <table>
        <thead>
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>ID</th>
                {% endif %}
                <th>Jméno</th>
                <th>E-mail</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Role</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th>{{ user.id }}</th>
                    {% endif %}
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>{{ user.roles | join(", ") }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
