{% extends 'base.html.twig' %}

{% block title %}Stránka nenalezena{% endblock %}

{% block content %}

    <h1>Stránka nenalezena</h1>

    <p>Tato adresa nebyla nalezena. Ujistěte se, že zadáváte správnou adresu.</p>

{% endblock %}
