{% extends 'base.html.twig' %}

{% block title %}Přístup zamítnut{% endblock %}

{% block page %}index{% endblock %}

{% block content %}

    <h1>Přístup zamítnut</h1>

    <p>K této části aplikace mají přístup pouze administrátoři. Ujistěte se, že jste přihlášen správným účtem.</p>

{% endblock %}
